# 3.0 CITE-seq Example

In [3]:
from clustergrammer2 import net
df = {}

In [4]:
import pandas as pd

### ADT Data

In [12]:
df['adt'] = pd.read_csv('../data/big_data/CITE-seq_CBMC_8K_13AB_10X/GSE100866_CBMC_8K_13AB_10X-ADT_umi.csv', index_col=0)

In [13]:
df['adt'].shape

(13, 8617)

In [15]:
13*8617

112021

In [14]:
df['adt'].head()

,CTGTTTACACCGCTAG,CTCTACGGTGTGGCTC,AGCAGCCAGGCTCATT,GAATAAGAGATCCCAT,GTGCATAGTCATGCAT,TACACGACACATCCGG,TCATTTGGTGTGAAAT,GGGCACTGTGAAGGCT,AACACGTCATTAACCG,CACATAGCAATGCCAT,...,GACGCGTGTAGAAAGG,AGCGTCGTCCCAAGTA,AGCGTCGAGTCAAGGC,GTCGGGTAGTAGCCGA,GTCGGGTAGTTCGCAT,TTGCCGTGTAGATTAG,GGCGTGTAGTGTACTC,CGTATGCCGTCTTCTG,TACACGACGCTCTTCC,ACACGACGCTCTTCCG
CD3,60,52,89,55,63,82,53,42,103,56,...,18,32,21,14,32,6,14,7,18,10
CD4,72,49,112,66,80,78,63,59,122,70,...,80,26,28,72,57,42,40,8,16,14
CD8,76,59,61,56,94,57,61,55,64,80,...,31,15,7,41,55,8,17,3,20,11
CD45RA,575,3943,682,378,644,479,487,472,540,535,...,108,5840,142,197,242,67,150,36,129,113
CD56,64,68,87,58,104,44,64,48,136,91,...,21,140,15,20,85,16,14,3,10,5

In [ ]:
net.load_df(df['adt'])
net.widget()

### Gene Expression Data

In [ ]:
df['gex'] = pd.read_csv('../data/big_data/CITE-seq_CBMC_8K_13AB_10X/GSE100866_CBMC_8K_13AB_10X-RNA_umi.csv', index_col=0)

In [ ]:
df['gex'].shape